@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-alata text-base;
  }
}

@layer components {
  .navItem {
    @apply pt-2 pb-4 px-4 flex hover:-translate-y-1 duration-150 text-shadow;
  }

  #grid-creations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 4), 1fr));
    /* gap: 2rem; */
  }

  #grid-creations > a {
    @apply aspect-[0.568] overflow-hidden;
  }

  #grid-creations > a > div {
    @apply bg-cover w-full h-full duration-150 p-8 flex items-end;
  }

  #grid-creations > a > div > h3 {
    @apply text-white text-4xl uppercase font-josefin;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0px 0px 5px rgb(0 0 0 / 1);
  }
}
