@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-alata text-base;
  }
}

@layer components {
  .navItem {
    @apply pt-2 pb-4 px-4 flex hover:-translate-y-1 duration-150 text-shadow;
  }

  #grid-creations {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
  }

  .creationCard {
    @apply aspect-[0.568] overflow-hidden flex items-end bg-cover flex-1 basis-[calc(25%_-_2rem)];
  }

  .creationCard > div {
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0px 0px 5px rgb(0 0 0 / 1);
  }
}
