@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-alata text-base;
  }
}

@layer components {
  /* Navigation items */
  .navItem {
    @apply pt-2 pb-4 px-4 flex hover:-translate-y-1 duration-150 text-shadow relative;
  }

  /* Little fix for the header menu */
  #section-header > nav > menu > li:last-child > a {
    @apply -mr-4;
  }

  /* Another fix, for the footer menu */
  footer > div > div:last-child > nav > menu > li:first-child {
    @apply -ml-4;
  }

  /* Navigation underlines */
  .navItem::after {
    content: "";
    @apply h-[2px] w-0 bg-white absolute rounded left-1/2 -translate-x-1/2 bottom-2 duration-150;
    box-shadow: 0 0 5px rgb(0 0 0 / 1);
  }

  .navItem:hover::after {
    @apply w-6;
  }

  /* Grid items */
  #grid-creations {
    /* The Holy Albatross will not work here, as the number of elements isn't fixed */
    --creations-gap: 1.6rem;
    --cols-number: 4;
    display: flex;
    flex-wrap: wrap;
    gap: var(--creations-gap);
  }

  /* Single Creation */
  #grid-creations > a {
    @apply aspect-[0.568] overflow-hidden;
    flex-basis: calc(
      (100% - ((var(--cols-number) - 1) * var(--creations-gap))) /
        var(--cols-number)
    );
  }

  #grid-creations > a > div {
    @apply bg-cover w-full h-full duration-150 p-8 flex items-end hover:shadowTint;
  }

  #grid-creations > a > div > h3 {
    @apply text-white text-4xl uppercase font-josefin;
  }
}

@layer utilities {
  .text-shadow {
    text-shadow: 0px 0px 5px rgb(0 0 0 / 1);
  }

  .shadowTint {
    box-shadow: inset 0 0 0 100vmax rgb(255 255 255 / 0.3);
  }

  /* Animating the mobile menu */
  #mobile-menu {
    opacity: 0;
    visibility: hidden;
    transform: scale(0);
    transition: all 0.3s ease-in-out;
    transform-origin: top right;
  }

  #mobile-menu.mobileMenuOpen {
    opacity: 1;
    transform: scale(1);
    visibility: visible;
  }
}
